<div class="container" role="photos"> 
  
  <%= render "layouts/small_header" %>

  <div class="row">
    <div class="sixteen columns">
      <h1>Choose Your <%= @tifo.team.name %> Photos</h1>
    </div>
  </div>

  <div class="row offset-by-four">
    <input type="text" id="instagram_name" placeholder="Enter an Instagram username" class="six columns omega" />
    <a href="#" class="two columns alpha search" id="instagram_search">Search</a>
  </div>

  <div class="row">
    <div class="sixteen columns">
      <ul class="images"></ul>
    </div>
  </div>

</div>

<div class="actions">
  <%= link_to "Finished", tifo_path(@tifo.token), class: "button" %>
</div>
    
<script>

  function addImageToTifo(link) {

    // if ($(link).hasClass('added')) {

      // TODO: Delete as well

    //   $(link).removeClass('added');
    //   $(this).removeClass('disabled');
    
    // } else {
      
      $.ajax({
        type: "POST",
        url: "/tifos/<%= @tifo.token %>/photos.json",
        data: { 
          photo: {url: $(link).children('img').attr('src'), photo_id: $(link).attr('href').split("/")[4] } 
        },
        success: function(data) {
          $(link).toggleClass('added');
          return false;
        },
        error: function(data) {
          $(link).toggleClass('error');
          return false;
        }
      });

    // }

  }


  $(function() {
    
    $('#instagram_search').click(function(e){

      if (!$(this).hasClass('disabled')) {

        $('#instagram_search').addClass('disabled');

        $('ul.images').html("");

        $('ul.images').instagramLite({
          username: $('#instagram_name').val(),
          clientID: '199554eb34504658a4770d2859b5a583', //TODO: Use real key and secure
          urls: true,
          limit: 25,
          error: function(errorCode, errorMessage) {
          
            $('#instagram_search').removeClass('disabled');

            console.log('There was an error');

            if(errorCode && errorMessage) {
              alert(errorCode +': '+ errorMessage);          
            }

            
          },
          success: function() {
            console.log('The request was successful!');
            
            $('#instagram_search').removeClass('disabled');

            $('ul.images li a').on('click', function(e){
              addImageToTifo(this);
              e.preventDefault();
            });

          }
        });

      }

      e.preventDefault();
    });
  });

</script>