<!DOCTYPE html>
<html>
<head>
  <title>Soundcloud Twelfth Man</title>
  <script type="text/javascript" src="//use.typekit.net/oqy0myf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
